<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns. --}}
    <div class="resources main-stats">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

      {{!-- "flex-group-center" is also defined in the _grid.scss file
      and it will add a small amount of padding, a border, and will
      center all of its child elements content and text. --}}
      <div class="resource large-stat-box">
        <label for="system.health.value" class="resource-label">Vitalité</label>
        <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
      </div>

      <div class="resource large-stat-box">
        <label for="system.moral.value" class="resource-label">Moral</label>
        <input type="text" name="system.moral.value" value="{{system.moral.value}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.moral.max" value="{{system.moral.max}}" data-dtype="Number" />
      </div>

      <div class="resource large-stat-box">
        <label for="system.armor.value" class="resource-label">Armure</label>
        <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" name="system.armor.max" value="{{system.armor.max}}" data-dtype="Number" />
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item title-tabs"data-tab="statistics">Statistiques</a>
    <a class="item title-tabs" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab statistics" data-group="primary" data-tab="statistics">
      <section class="grid grid-3col">

        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. --}}
        <div class="abilities flexcol">
          <div class="resource large-stat-box">
            <label for="system.attack.value" class="resource-label">Attack</label>
            <input type="text" name="system.attack.value" value="{{system.attack.value}}" data-dtype="Number" />
          </div>
        </div>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

  </section>
</form>